:root {
    --ivory: #f2f0f0;
    --black1: #212621;
    --green: #485953;
    --black2: #0b0d0c;
    --blue: #c4f2ee;

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 3px;
}

body {
    background-color: var(--ivory);
}

header { 
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--green);
    color: var(--ivory);
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h1 .Chu {
    color: var(--blue);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

main {
    padding: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--ivory);
    text-decoration: none;
}

p {
    font-size: 16px;
}

#banner {
    height: auto;
    width: 100%;
    object-fit: fill;
    margin-bottom: 5px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

h2, h4 {
    font-size: 2rem;
    color: var(--black2);
}

h3, #bio {
    font-size: 1.75rem;
    color: var(--green);
}

.about-box {
    float: left;
    justify-content: space-between;
    display: flex;
    /* max-block-size: 50%; */
    height: auto;
    width: 50%;
}

#headshot {
    object-fit: fill;
    float: left;
    padding: 10px;
    max-width: 75%;
    height: auto;
    display: flex;
}

.bio-box {
    float: right;
    font-size: 1.5rem;
    margin: 3px;
    padding: 10px;
    display: flex;
    max-width: 50%;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 50%
  }

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
/* .column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    /* transition: flex-basis 500ms linear; */
    /* margin-bottom: 1.5rem; */
  /* } */ 

.workbox {
    float: left;
    justify-content: space-between;
    display: flex;
    /* max-block-size: 50%; */
    height: auto;
    width: 100%;
}

.workbox2 {
    float: left;
    justify-content: space-between;
    display: flex;
    /* max-block-size: 50%; */
    height: auto;
    width: 50%;

.Project1 {
    display: flex;
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    /* padding: 5px; */
    /* border: solid 2px var(--green);   */
}

#Project1 {
    position: absolute;
    bottom: 20px;
    left: 3px;
    padding: 30px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

/* .Projects { */
    display: flex;
    max-width: 50%;
    height: auto;
    position: relative;
    text-align: center;
    /* padding: 20px; */
    /* border: solid 2px var(--green); */  
}

#covid-image {
    max-width: 100%;
    height: auto;
    display: flex;
    object-fit: contain;  
}

#box-tetris {
    max-width: 50%;
    height: auto;
    display: flex;  
}

#roadsides-icon {
    max-width: 50%;
    height: auto;
    display: flex;  
}

#arsenal-hinges {
    max-width: 50%;
    height: auto;
    display: flex; 
}

#prairie-cranes {
    max-width: 50%;
    height: auto;
    display: flex; 
}

footer {
    background-color: var(--blue);
    padding: 15px;
    margin: 20px
}

h4 {
    display: inline-flex;
    padding: 15px;
    margin-left: 20px;
}

.contact-info {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* .card-column { */
      /* flex: 0 0 50%; */
      /* max-width: 50%; */
    /* } */
  
    /* select the last child to grow to full width if it has space to grow */
    /* .card-column:last-child { */
      /* flex-grow: 1; */
    /* } */
  /* } */
  
  /* media query for larger screens */
  /* @media screen and (min-width: 992px) { */
    /* header { */
      /* width: 75%; */
    /* } */
  
    /* .card-column { */
      /* flex: 0 0 33.333%; */
      /* max-width: 33.333%; */
    /* } */
  /* } */