:root {
    --ivory: #f2f0f0;
    --black1: #212621;
    --green: #485953;
    --black2: #0b0d0c;
    --blue: #c4f2ee;

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 3px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--ivory);
}

/* The header was inspired by the html / css code for the Unit 1 homework assignment */
header { 
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--green);
    color: var(--ivory);
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h1 .Chu {
    color: var(--blue);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

main {
    padding: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--ivory);
    text-decoration: none;
}

p {
    font-size: 16px;
}

#banner {
    height: auto;
    width: 100%;
    object-fit: fill;
    margin-bottom: 5px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

 .about-wrapper {
     display: flex;
     flex-wrap: wrap;
 }
  
/* This was inspired by for mobile-first approach in the Unit 2 Advanced CSS Mini Project code */
.column {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

h2 {
    padding: 5px;
    margin: 20px 0 0 20px;
    font-size: 2rem;
    color: var(--black2);
}

.about-box {
    float: left;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* height: auto; */
    /* width: 50%; */
}

.headshot {
    float: left;
    justify-content: center;
    display: flex;
}

.headshot #headshot {
    object-fit: cover;
    float: left;
    padding: 10px;
    display: flex;
}

.bio-box {
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-box #bio {
    float: right;
    text-align: center;
    font-size: 1.5rem;
    margin: 3px;
    padding: 60px 10px 10px 10px;
    display: flex;
}

#bio {
    font-size: 1.75rem;
    color: var(--green);
}

/* I'm not sure why the curly bracket in line 162 is keeping the styling in place!  */

}

.Project-Box {
    display: flex;
    /* width: 100% */
    /* height: 100% */
    /* position: relative; */
    /* text-align: center; */
    /* padding: 20px; */
    border: solid 5px var(--green);  
}

.Project-Box a {
    display: flex;
    /* width: 200px */
    /* height: 200px */
    /* border: solid 1px var(--black1) */
}

.Project-Box #Project1 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project2 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project3 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project4 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project5 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #covid-image {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #box-tetris {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #roadsides-icon {
    width: 100%;
    display: flex; 
    object-fit: cover; 
}

.Project-Box #arsenal-hinges {
    width: 100%;
    /* height: auto; */
    display: flex;
    object-fit: cover; 
}

.Project-Box #prairie-cranes {
    width: 100%;
    /* height: auto; */
    display: flex; 
    object-fit: cover;
}

h3 {
    font-size: 1.75rem;
    color: var(--green);
}

footer {
    background-color: var(--blue);
    padding: 20px;
    /* margin: 20px; */
}

h4 {
    display: inline-flex;
    padding: 15px;
    margin-left: 20px;
    font-size: 2rem;
    color: var(--black2);
}

.contact-info {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}

/* I ran out of time to get the media query code to work below...will try again! */

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* .work-wrapper  { */
        /* flex: 1 0 50%; */
        /* max-width: 50%; */
        /* flex-direction: column; */
        /* padding: 1.5rem; */
        /* transition: flex-basis 500ms linear; */
        /* margin-bottom: 1.5rem; */
    }

    /* .double-column { */
        /* display: flex; */
        /* flex: 2 0 50%; */
        /* flex-direction: column; */
        /* padding: 1.5rem; */
        /* when the screen resizes, make it so our columns don't jump in size */
        /* transition: flex-basis 500ms linear; */
        /* margin-bottom: 1.5rem; */
     /* }  */
  
    /* select the last child to grow to full width if it has space to grow */
    /* .column:last-child {
      flex-grow: 1;
    }
  }
   */
  /* media query for larger screens */
  /* @media screen and (min-width: 992px) { */
    /* header { */
      /* width: 75%; */
    /* } */
  
    /* .column { */
      /* flex: 0 0 50%; */
      /* max-width: 50%; */
    /* } */

    /* .work-wrapper  { */
        /* flex: 1 0 50%;
        max-width: 100%;
        flex-direction: column;
        padding: 1.5rem;
        transition: flex-basis 500ms linear;
        margin-bottom: 1.5rem;
      } */

    /* .double-column {
        display: flex;
        flex: 2 0 50%;
        flex-direction: column;
        padding: 1.5rem;
        /* when the screen resizes, make it so our columns don't jump in size */
        /* transition: flex-basis 500ms linear;
        margin-bottom: 1.5rem; */
      /* } */
  /* } */